<div class="container">
    <div class="formulario">
    <div class="title-card">
        <h2>Editar Receta</h2>
    </div>

    <form action="/recetas/update/{{ receta.id }} " method="post">
        <div class="form-group">
            <label>Nombre</label>
            <input class="form-control" type="text" name="nombre" value="{{ receta.nombre }}"/>
        </div>
        <div class="form-group">
            <label>Ingredientes</label>
            <textarea class="form-control" name="cant_ingredientes">{{ receta.cant_ingredientes }}</textarea>
        </div>
        <div class="form-group">
            <label>Pasos</label>
            <textarea class="form-control" name="pasos">{{ receta.pasos }}</textarea>
        </div>
        <div class="form-group id">
            <label>ID Imagen</label>
            <input class="form-control" type="text" name="id_imagene" value="{{ receta.id_imagene }}" />
        </div>
        <div class="form-group id">
            <label>Tiempo</label>
            <input class="form-control" type="text" name="tiempo" value="{{ receta.tiempo }}" />
        </div>
        <div class="form-group id">
            <label>Modo</label>
            <input class="form-control" type="text" name="modo" value="{{ receta.modo }}" />
        </div>
        <div class="form-group id">
            <label>ID Categoria</label>
            <input class="form-control" type="text" name="id_categoria" value="{{ receta.id_categoria }}" />
        </div>
        
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Update" />
        </div>
    </form>
    </div>
</div>
