<div class="title">
    <h1>Recetas</h1>
</div>

    <div class="container">
        {{#if success}}
            <div class="alert alert-success" role="alert">
                {{success}}
            </div>
        {{/if}} 
        <h3> <a class="add" href="/recetas/create"> Crear receta </a></h3>
        <h2>Lista de Recetas</h2>
        {{#if recetas }}
           <table class="table table-hover">
                <thead>
                   <tr>
                       <th>Nombre</th>
                       <th>Cant. Ingredientes</th>
                       <th>Pasos</th>
                       <th>id_imagene</th>
                       <th>tiempo</th>
                       <th>modo</th>
                       <th>Categoria</th>
                       <th>id_comentario</th>
                   </tr>
                </thead>
                <tbody>
                    {{# each recetas }}
                    <tr>
                        <td> <a href="/recetas/show/{{ _id  }}"> {{ nombre }}  </td>
                        <td class="texto"> {{ cant_ingredientes }} </td>
                        <td class="texto"> {{ pasos }} </td>
                        <td> {{ id_imagene }} </td>
                        <td> {{ tiempo }} </td>
                        <td> {{ modo }} </td>
                        <td> {{ id_categoria }} </td>
                        <td> {{ id_comentario }} </td>
                    </tr>
                    {{/each}}
                </tbody>
           </table>
        {{~^~}}
            <div>Recetas no encontradas</div>
        {{/if}}
    </div>
