<div class="container">

    <div class="title-card detalle">
        <h2>Detalle de la receta</h2>
    </div>
    {{#if success}}
        <div class="alert alert-success" role="alert">
            {{success}}
        </div>
    {{/if}}
    <div>
        <ul>
            <li><h5>Nombre</h5></li>
                <p> {{ receta.nombre}} </p>
            <li><h5>Cantidad Ingredientes</h5></li>
                <p>{{ receta.cant_ingredientes}}</p>
            <li><h5>Cantidad de Pasos</h5></li>
                <p>{{ receta.pasos}}</p>
            <li><h5>ID Imagen</h5></li>
                <p>{{ receta.id_imagene}}</p>
            <li><h5>Tiempo</h5></li>
                <p>{{ receta.tiempo}}</p>
            <li><h5>Modo</h5></li>
                <p>{{receta.modo}}</p>
            <li><h5>ID Categoria</h5></li>
                <p>{{receta.id_categoria}}</p>
        </ul>
    </div>


        <h5> <a class="text-warning" href="/recetas/edit/{{ receta._id }}" >Editar</a></h5>

        <form action="/recetas/delete/{{ receta._id }}" method="POST">
            <button type="submit" class="delete-boton">Eliminar</button>
        </form>
</div>