<div class="container">
    <div class="title-card detalle">
        <h2>Detalle de Usuario</h2>
    </div>
    {{#if success}}
        <div class="alert alert-success" role="alert">
            {{success}}
        </div>
    {{/if}}
    <div>
        <ul>
            <li><h5>Nombre</h5></li>
                <p>{{ usuario.nombre}}</p>

            <li><h5>Apellido</h5></li>
                <p>{{ usuario.apellido}}</p>

            <li><h5>DNI</h5></li>
                <p>{{ usuario.dni}}</p>
 
            <li><h5>Teléfono</h5></li>
                <p>{{ usuario.telefono}}</p>

            <li><h5>Dirección</h5></li>
                <p>{{ usuario.direccion}}</p>

        </ul>
    </div>
        <h5> <a class="text-warning" href="/usuarios/edit/{{ usuario._id }}" >Editar</a></h5>

        <form action="/usuarios/delete/{{ usuario._id }}" method="POST">
            <button type="submit" class="delete-boton">Eliminar</button>
        </form>
</div>